.obs-plugin-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  width: 100%;

  .obs-plugin-title {
    font-weight: 700;
  }

  .obs-plugin-header-text {
    color: var(--text-muted);
    white-space: pre-wrap;
  }
}