.modal {
  padding: 20px;

  .modal-close-button {
    &:hover {
      cursor: pointer;
    }
  }

  .modal-content h1,
  .modal-content h2,
  .modal-content h3,
  .modal-content p,
  .modal-content a,
  .modal-content hr {
    margin: 0;
  }

  .obs-plugin-modal-detail-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .obs-plugin-modal-detail-header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }

  .obs-plugin-modal-detail-title-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .obs-plugin-modal-detail-title {
    font-weight: bold;
    font-size: 20px;
  }

  .obs-plugin-modal-detail-poster {
    border-radius: 8px;
    width: 160px;

    @media (max-width: 768px) {
      max-width: 96px;
      width: 100%;
    }
  }

  .obs-plugin-modal-detail-plot-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .obs-plugin-modal-detail-plot {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
  }

  .obs-plugin-modal-detail-plot.expanded-plot {
    -webkit-line-clamp: unset;
  }

  .obs-plugin-modal-detail-show-more {
    box-shadow: none !important;
    align-self: flex-end;
  }

  .obs-plugin-modal-detail-show-more-hidden {
    display: none;
  }

  .obs-plugin-modal-detail-detail-container {
    display: inline-flex;
    gap: 4px;
  }

  .obs-plugin-modal-detail-label {
    font-weight: 600;
  }

  .obs-plugin-modal-detail-rating-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .obs-plugin-modal-detail-rating-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .obs-plugin-modal-detail-rating-label {
    font-weight: 600;
  }

  .obs-plugin-modal-detail-rating-disclaimer {
    font-weight: 600;
    color: var(--text-muted);
    font-size: 12px;
  }

  .obs-plugin-modal-detail-actions {
    display: flex;
    gap: 10px;
  }


  .plugin-ratings-bar-container {
    max-width: 100%;
  }
}